@import '../../../styles/partials/flex';
@import '../../../styles/partials/box';

.homepage-container {
  padding: 2em;
  @include flex(column, start);
  @include rect(100vw, 100vh);
  background-color: rgb(255, 255, 255);
  position: relative;
}

.progress-container {
  @include flex(column);
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.storename {
  font-size: 2em;
}
.progress-title {
  font-size: 1.5em;
}

.progress-bar{
  position: relative;
  width: 60%;
  height: 1.2em;
  border-radius: 13px;
  background-color: rgb(231, 231, 231);
  overflow: hidden;
}

.progress-bar::after{
  position: absolute;
  box-shadow: 0 0 10px rgb(75, 75, 75) inset;
  content:'';
  inset: 0;
}
.progress {
  height: 100%;
  background-color: rgb(81, 255, 119);
  transition: width 1s ease-in;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  text-align: center;
}