.page__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.section__bar {
  font-size: 1.8rem;
  color: var(--whites);
  border-bottom: 1px solid black;
  border-radius: 7px;
  text-align: center;
  width: 100%;
  background-color: rgb(131, 131, 131);
  cursor: pointer;
  transition: width 0.2s ease-in;
}

.section__bar:hover {
  background-color: rgb(150, 150, 150);
}

.section__bar-inner {
  font-size: 1.2rem;
  background-color: rgb(85, 85, 85);
}

.section__bar-closed {
  background-color: rgb(65, 64, 64);
  border-radius: 25px;
  width: 90%;
}

.expand__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 0rem;
  overflow: hidden;
  transition: height 0.3s ease;
}

.expand-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}

.manual-entry-container {
  width: 100%;
  height: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}

.sales-summary-weekday {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.sales-summary-weekday h2 {
  width: 100%;
  letter-spacing: 2px;
  background-color: var(--blacks);
  color: var(--whites);
  text-align: center;
}

.manual-entry-weekday {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(172, 172, 172);
}

.hour-container {
  width: 80%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 10% 50%;
}

.hour-container input {
  width: 100%;
}
.hour-container label {
  width: 100%;
  margin: 0;
}

.hourly-totals-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blacks);
  color: var(--whites);
}

.hourly-totals-field {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 60% 10% 1fr;
}

.hourly-totals-field input {
  width: 100%;
}

.hourly-totals-field label {
  font-size: 0.9rem;
  margin: 0;
}

.manual-totals {
  background-color: #434343;
  color: #00ffea;
}

.weekly-total-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
}

.weekly-total-container label{
  margin: 0;
}

.input-group {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.report-dump {
  width: 80%;
  height: 5rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 13px;
  cursor: pointer;
}

.hourly-report-select {
  width: 50%;
  text-align: center;
  margin-bottom: 1rem;
}
.process-btn {
  width: 25%;
  height: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.inner-slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.submit-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
}
.submit-btn {
  width: 50%;
  height: 3rem;
}
