@import '../../../styles/partials/box';
@import '../../../styles/partials/flex';
@import '../../../styles/partials/effects';
@import '../../../styles/partials/input';
@import '../../../styles/partials/responsive';

$window-border-radius: 7px;

.container {
    position: relative;
    @include rect(100%, 100%);
    @include flex();
    @include gradient(135deg, (#8c909765, 20%), (#71838d42, 30%), (#6b7c864f, 60%), (#5664775d, 100%));
    backdrop-filter: blur(10px);
}

.side-bar {
    position: absolute;
    top: 50%;
    left: 2px;
    @include rect(3vw, 50%, $bRadius: 7px);
    transform: translate(0, -50%);
    background-color: rgb(223, 223, 223);
    border: 2px solid gray;
    z-index: 1;
}