@import '../../../styles/partials/box';
@import '../../../styles/partials/flex';
@import '../../../styles/partials/effects';
@import '../../../styles/partials/input';
@import '../../../styles/partials/responsive';


.container {
    @include rect(100%, 100%);
    @include flex(column);
}

.product-manager-container {
    @include rect(100%, 100%);
    @include flex();
    @include gradient(135deg, (#8c909765, 20%), (#71838d42, 30%), (#6b7c864f, 60%), (#5664775d, 100%));
    backdrop-filter: blur(10px);
}

.system-product-manager {
    max-width: 300px;
    @include rect(30vw, 80%, $bRadius: 13px);
    @include flex(column);
    @include gradient(135deg, (#c7c7c765, 20%), (#acb7bd42, 30%), (#c5c9cc4f, 60%), (#acb3bd5d, 100%));
    border: 2px solid rgb(214, 144, 255);
    box-shadow: 5px 2px 10px 2px #00000063;
}