@import "../global-settings.scss";

@mixin transition($prop...) {
    transition: $prop $hover-setting;
};

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
}


@mixin gradient($direction, $colors...) {
  $gradient: '';
  
  @each $color in $colors {
    $colorValue:'';
    $color-value: nth($color, 1); // Extract the color
    $alpha-value: if(length($color) > 1, nth($color, 2), 1);
    $spread-value: if(length($color) > 2, nth($color, 3), null);
    $colorValue: rgba($color-value, $alpha-value); // Create RGBA color with alpha

    @if $spread-value != null {
      $colorValue: #{$colorValue}, #{$spread-value};
    }

    @if length($gradient) > 0 {
      $gradient: #{$gradient}, #{$colorValue};
    } @else {
      $gradient: #{$colorValue};
    }
  }

  background: linear-gradient($direction, $gradient);
}