@mixin flex($direction: row, $JC: center, $AI: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $JC;
    align-items: $AI;
}


@mixin grid($cols: 1fr, $rows: 1fr, $gap: 0, $autoRow: false, $autoCol: false) {
    display: grid;
    @if $autoRow == true {
    grid-auto-rows: minmax($rows, 1fr);
    } @else {
        grid-template-rows: $rows;
    }
    @if $autoCol == true {
    grid-auto-cols: minmax($cols, 1fr);
    } @else {
        grid-template-columns: $cols;
    }
    gap: $gap;
}