@mixin button($border: none, $outline:none) {
    outline: $outline;
    border: $border;
}

@mixin input ($bRadius: null, $border: none, $outline: none) {
    border-radius: $bRadius;
    border: $border;
    outline: $outline;
}