@import '../../../styles/partials/box';
@import '../../../styles/partials/flex';
@import '../../../styles/partials/effects';
@import '../../../styles/partials/input';
@import '../../../styles/partials/responsive';


.order-page__section {
    position: relative;
    @include flex(column);
    @include rect(100%, 100%);
}
    .order-form {
      padding: 1em 0;
      min-height: 60%;
      @include rect(25%);
      @include flex(column, $gap: 0.5em);
      border-radius: 13px;
      background: linear-gradient(135deg, rgb(233, 239, 241) 0%, rgb(235, 229, 233) 40%, rgb(250, 249, 249) 100%);
      box-shadow: 25px 15px 10px rgba($color: #000000, $alpha: 0.15);
      border: 1px solid rgb(255, 255, 255);
      @include tablet-screen { min-width: 50% };
      @include phone-screen { min-width: 80% };
    }
    .form-title{
      padding: 0.5em 2em;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center
    }

      .form-group {
        @include flex(column, space-evenly);
        @include rect(100%);
        position: relative;
        @include tablet-screen { width: 80% };
        @include phone-screen { width: 100% };
        input[type="text"] {
          @include input(7px);
          @include rect(60%);
          padding: 0.2em;
          text-align: center;
          background-color: rgb(255, 255, 255);
          @include tablet-screen { width: 80% };
        }
    }
    .form-group-horizontal {
      @include flex();
    }

    .radio-group {
      @include flex(column);
      padding: 0 2em;
      label {
        font-size: 1.5em
      }
      input {
        @include rect(1.5em, 1.5em);
      }
    }

    .form-group-title {
      padding: 0.5em 0;
      font-size: 1.2em;
      font-weight: bold;
    }

    .inventory-import-btn {
      cursor: pointer;
      padding: 0.5em;
      font-weight: bold;
      text-transform: uppercase;
      @include rect(60%);
      @include transition((background-color, color));
      @include flex();
      background-color: #000;
      border-radius: 17px;
      &:hover {
        background-color: black;
        color: #fff;
        box-shadow: 0 0 2px 2px inset #dda9ff;
      }
    }

    .open-order-btn {
      @extend .inventory-import-btn;
      padding: 0.2em;
      color: #000;
      background-color: #fff;
      border: 1px solid #000;
      &:hover {
        background-color: rgb(78, 250, 135);
        color: #fff;
        box-shadow: 0 0 2px 2px inset #ffffff;
      }
    }

    .calendar-input-container {
      position: relative;
      @include rect(80%);
      @include tablet-screen { min-width: 60% };
      input {
        width: 100%;
      }
      i {
        @include position(absolute, 0, -20%);
        @include transition(color);
        border: none;
        border-radius: 20%;
        cursor: pointer;
        &:hover {
          color: green;
        }
        @include phone-screen {
           font-size: 1.5em;
           @include position(absolute, 0, -10%);
       };
      }
    }
      
      .create-button {
        @include rect(10em, 3em);
        @include button();
        background-color: rgb(238, 238, 238);
        border-radius: 13px;
        border-bottom: 1px solid black;
        justify-self: center;
        align-self: center;
        grid-column: 1;
        cursor: pointer;
        @include transition(background-color);
        &:hover {
          background-color: rgb(214, 237, 241);
        }
      }
 
 
  .warning-message {
    @include flex(column, flex-start);
    @include position(absolute, 50%, $left: 20%, $x: -50%, $y: -50%);
    @include rect(25%, 15%);
    color: rgb(255, 78, 78);
    
    @include tablet-screen {
      @include rect(100%, 10%);
      @include position(absolute, 5%, $left: 50%, $x: -50%, $y: -50%);
    }
  }
  
  .warning-list {
    display: block;
    margin-left: auto;
  }
  
  .calendar-backdrop {
    @include rect(100%, 100%);
    @include position(absolute, $all: 0);
    backdrop-filter: blur(0.5px);
    z-index: 1000;
  }
  