@import '../../../styles/partials/box';
@import '../../../styles/partials/flex';
@import '../../../styles/partials/effects';
@import '../../../styles/partials/input';
@import '../../../styles/partials/responsive';


.order-page__section {
    position: relative;
    @include flex(column);
    @include rect(100%, 100%);
}
    .order-form {
      padding: 1em 0;
      min-height: 60%;
      @include rect(25%);
      @include flex(column, $gap: 0.5em);
      border-radius: 13px;
      background: linear-gradient(135deg, rgb(233, 239, 241) 0%, rgb(235, 229, 233) 40%, rgb(250, 249, 249) 100%);
      box-shadow: 25px 15px 10px rgba($color: #000000, $alpha: 0.15);
      border: 1px solid rgb(255, 255, 255);
      @include tablet-screen { min-width: 50% };
      @include phone-screen { min-width: 80% };
    }

      .form-group {
        @include flex(column);
        width: 100%;
        position: relative;
        @include tablet-screen { width: 80% };
        @include phone-screen { width: 100% };
        input[type="text"] {
          @include input(7px);
          @include rect(60%);
          padding: 0.2em;
          text-align: center;
          background-color: rgb(255, 255, 255);
          @include tablet-screen { width: 80% };
        }
    }
        .input__order__invoiced {
          align-self: center;
          @include phone-screen { font-size: 1em }
        }
        
        .radio-container {
          width: 15rem;
          text-align: center;
          display: block;
          margin-bottom: 1rem;
        }
        
        .radio-label {
          font-size: 1.1rem;
          font-weight: normal;
          color: rgb(0, 0, 0);
        }
        
        .radio-button {
          @include rect(1.5em, $cube: true);
          margin-right: 1.5em;
          cursor: pointer;
          accent-color: rgb(46, 46, 46);
          outline: none;
        }
        
        .check-box {
          display: inline-block;
          @include rect(1.6em, $cube: true);
          margin: 0;
          accent-color: rgb(100, 100, 100);
          cursor: pointer;
        }

        .received-today__container {
          display: none;
          justify-content: space-evenly;
          width: 100%;
        }
        
        .received-today__container__on {
          display: flex;
        }

      #calendar-input-container {
        position: relative;
        min-width: 60%;
        @include tablet-screen { min-width: 60% };
        input {
          width: 100%;
        }
        i {
          @include position(absolute, 0, -20%);
          @include transition(color);
          border: none;
          border-radius: 20%;
          cursor: pointer;
          &:hover {
            color: green;
          }
          @include phone-screen {
             font-size: 1.5em;
             @include position(absolute, 0, -10%);
         };
        }
      }
    
      .calendar-container {
        display: none;
        top: 100%;
        position: absolute;
        z-index: 1001;
    }
      
      .create-button {
        @include rect(10em, 3em);
        @include button();
        background-color: rgb(238, 238, 238);
        border-radius: 13px;
        border-bottom: 1px solid black;
        justify-self: center;
        align-self: center;
        margin-top: 3rem;
        grid-column: 1;
        cursor: pointer;
        @include transition(background-color);
        &:hover {
          background-color: rgb(214, 237, 241);
        }
      }
 
  .rmf-data-dump {
    @include rect(15rem, 3.5rem);
    @include input(13px);
    padding: 1em;
    resize: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
    text-align: center;
    &::placeholder {
      color: transparent;
    }
    &:hover::placeholder {
      color: rgb(255, 255, 255);
      opacity: 1;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0.4rem 0.5rem rgba(255, 255, 255, 0.158) inset,
        0 0 1px 2px rgb(255, 255, 255) inset, 0 0 1px 2px rgb(255, 255, 255);
      transition: box-shadow 0.3s ease;
    }
    @include phone-screen {
      width: 80%;
    }
  }

  .warning-message {
    @include flex(column, flex-start);
    @include position(absolute, 50%, $left: 20%, $x: -50%, $y: -50%);
    @include rect(25%, 15%);
    color: rgb(255, 78, 78);
    
    @include tablet-screen {
      @include rect(100%, 10%);
      @include position(absolute, 5%, $left: 50%, $x: -50%, $y: -50%);
    }
  }
  
  .warning-list {
    display: block;
    margin-left: auto;
  }
  
  .calendar-backdrop {
    @include rect(100%, 100%);
    @include position(absolute, $all: 0);
    display: none;
    backdrop-filter: blur(0.5px);
    z-index: 1000;
  }
  