@import '../../../styles/partials/box';
@import '../../../styles/partials/flex';
@import '../../../styles/partials/effects';
@import '../../../styles/partials/input';
@import '../../../styles/partials/responsive';

.login-container {
    padding: 2em;
    @include flex(column, flex-start);
    @include rect(30%, $bRadius: 13px);
    min-height: 40%;
    background-color: rgb(236, 236, 236);
    @include gradient(135deg, #d3d3d369, #8a8a8a59);
    @include glow($glow:((0 0 1px #ffffff inset), (10px 10px 5px 5px #0000002c)));
    @include tablet-screen {
        @include rect(60%);
    }
    @include phone-screen {
        @include rect(80%);
    }
}

.login-form {
    @include rect(100%, 100%);
    @include flex(column, $gap: 0.5em);
}

.input-container {
    @include flex(column, $AI: start, $gap: 0.5em);
    @include rect(60%, 4em);
    input {
        text-align: left;
        padding: 0.5em;
        @include rect(100%, 100%);
        @include input(7px);
        &:focus {
            box-shadow: 0 1px 1px #ff5100;
        }
    }
    @include phone-screen {
        @include rect(80%, 4em);
    }
}

.submit-btn {
    flex: 1 1, 30%;
    @include rect(50%, 2.5em);
    @include button(13px);
    font-size: 1em;
    box-shadow: 1px 1px 2px #00000073;
    cursor: pointer;
    @include transition((color, background-color));
    &:hover {
        color: blue;
        background-color: rgb(248, 248, 248);
    }
}

.register-banner {
    font-style: italic;
    font-size: 0.9em;
    a{
        color: blue;
        &:hover {
            color: #7e1078;
        }
    }
    flex: 1 1, 30%;
}