@import '../../../../styles/partials/responsive';
@import '../../../../styles/partials/box';
@import '../../../../styles/partials/flex';

$edge-thickness: 4px;
$modal-border-radius: 7px;
$border-color: #e9312b;
$active-btn-border-color: #2b9de9;

.modal {
    position: absolute;
    z-index: 1001;
    @include rect(60%, 40%, $bRadius: 7px);
    @include flex(column, flex-start);
    border: 2px solid $border-color;
    box-shadow: 0 0 30px #0000004f;
    .modal-header {
        color: #e2e2e2;
        @include rect(100%, 1.5em);
        @include grid(1fr 2em);
        @include gradient(135deg, (#4b4b4b, 20%), (#464545, 60%), (#575757, 100%));
        border-radius: 3px;
        border-top-left-radius: $modal-border-radius;
        border-top-right-radius: $modal-border-radius;
        p {
            font-size: 1em;
            text-align: center;
        }
    }
}

.controls {
    @include flex();
}

.control-btn {
    position: relative;
    @include rect(1em, 1em, $bRadius: 50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: #000;
    border: 1px solid $border-color;
    cursor: pointer;
    i {
        font-size: 0.8em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
    }
}
.close {
    &:hover {
        background-color: red;
        color: #fff;
    }
}

.content {
    @include flex(column, $gap: 1em);
    @include rect(100%, 100%);
}

.message {
    font-size: 1em;
    text-align: center
}

.btn-container {
    @include rect(100%, auto);
    @include flex($JC: space-evenly);
}

.modal-btn {
    padding: 0.5em;
    @include rect(auto, auto, $bRadius: 7px);
    background-color: orange;
    @include transition(background-color);
    cursor: pointer;
    &:hover {
        border: 1px solid $active-btn-border-color;
        background-color: rgb(255, 255, 255);
    }
}

.modal-backdrop {
    position: absolute;
    backdrop-filter: blur(2px);
    z-index: 1000;
    inset: 0;
}