@import '../../../../styles/partials/responsive';
@import '../../../../styles/partials/box';
@import '../../../../styles/partials/flex';

$edge-thickness: 4px;
$window-border-radius: 7px;
$border-color: #67daf7;

.draggable {
    cursor: grab;
}

.window {
    position: absolute;
    @include rect(35vw, 30vw, $bRadius: 7px);
    @include flex(column, flex-start);
    @include gradient(135deg, (#e6e6e6, 20%), (#dbdbdb, 100%));
    border: 2px solid $border-color;
    box-shadow: 0 0 30px #0000004f;
    cursor: grab;
    header {
        color: #e2e2e2;
        padding: 0 1.5em;
        @include rect(100%, 1.5em);
        @include grid(1fr 3em);
        @include gradient(135deg, (#4b4b4b, 20%), (#464545, 60%), (#575757, 100%));
        border-radius: 3px;
        border-top-left-radius: $window-border-radius;
        border-top-right-radius: $window-border-radius;
        p {
            font-size: 1em;
            text-align: center;
        }
    }
}

.controls {
    @include flex($gap: 0.5em);
}

.control-btn {
    position: relative;
    @include rect(1em, 1em, $bRadius: 50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: #000;
    border: 1px solid $border-color;
    cursor: pointer;
    i {
        font-size: 0.8em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
    }
}
.close {
    &:hover {
        background-color: red;
        color: #fff;
    }
}
.maximize, .minimize {
    &:hover {
        background-color: rgb(201, 201, 201);
    }
}

.minimize {
    i {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.vertex {
    position: absolute;
    @include rect(0.8em, 0.8em);
    padding: 3px;
    border-width: 0 4px 4px 0;
}

.top-left { 
    top: 0;
    left: 0;
    cursor: nwse-resize;
    transform: rotate(135deg);
    -webkit-transform: rotate(180deg);
}
.top-right { 
    top: 0;
    right: 0;
    cursor: nesw-resize;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-90deg);
}
.bottom-left { 
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
    transform: rotate(-135deg);
    -webkit-transform: rotate(90deg);
}
.bottom-right { 
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-0deg);
}

.edge {
    position: absolute;
    // border-width: 0 4px 0 0;
}

.left { 
    @include rect($edge-thickness, 100%);
    top: 0;
    left: 0;
    cursor: ew-resize;
}
.top { 
    @include rect(100%, $edge-thickness);
    top: 0;
    right: 0;
    cursor: ns-resize;
}
.bottom { 
    @include rect(100%, $edge-thickness);
    bottom: 0;
    left: 0;
    cursor: ns-resize;
}
.right { 
    @include rect($edge-thickness, 100%);
    bottom: 0;
    right: 0;
    cursor: ew-resize;
}

.content {
    padding: 1em;
    @include flex();
    @include rect(100%, 100%);
}