@import '../../../styles/partials/flex';
@import '../../../styles/partials/box';
@import '../../../styles/partials/effects';
@import '../../../styles/partials/input';


.main-container {
    position: relative;
    @include flex(column);
    >h1 {
        font-size: 2em;
    }
}

.section-title {
    font-size: 1em;
    color: rgb(231, 231, 231);
    border-bottom: 1px solid black;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    background-color: rgb(103, 199, 255);
    cursor: pointer;
    &:hover {
        background-color: rgb(150, 150, 150);
    }
}

.store-info-group {
    padding: 0.2em;
    @include flex($gap: 0.5em);
    @include rect(100%, auto);
    color: black;
    label {
    font-size: 1.5rem;
    }
    input {
        @include rect(25%, 2em, $bRadius: 13px);
        @include input();
        box-shadow: 0 0 3px 1px inset rgba(0, 0, 0, 0.295);
        padding: 0.5em;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.type-select {
    width: 20%;
    font-size: 1.2em;
    text-align: center;
}

.week-container {
    @include grid(repeat(7, 1fr), $gap: 5px);
    @include rect(100%, auto);
    background-color: rgb(255, 255, 255);
    input, select {
        width: 100%;
        color: white;
    }
}

.weekday-container {
    padding: 1em 0.2em;
    @include rect(100%, 25em);
    @include flex(column, $JC: flex-start);
    text-align: center;
    background-color: rgb(73, 73, 73);
    border: 1px solid black;
}

.weekday-button {
    @include flex();
    @include rect(90%, 3em, $bRadius: 13px);
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    color: black;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    &:hover {
        background-color: rgb(179, 179, 179);
    }
}

.weekday-button__inactive {
    text-decoration: line-through;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-thickness: 3px;
    background-color: rgb(80, 80, 80);
    &:hover {
        background-color: rgb(230, 230, 230);
    }
}

.opentimes-container {
    display: block;
    width: 100%;
}

.time-selector__main-container {
    display: flex;
    @include flex($gap: 12px);
    width: 100%;
}

.time-selector {
    margin: 0;
    width: 80%;
    text-align: center;
    background-color: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
    display: inline-block;
}

.delivery-day-input-container {
    @include flex($JC: flex-end);
    padding: 1em 0;
    text-align: right;
    width: 100%;
    label {
        font-size: 1rem;
        display: inline-block;
    }
    input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
    }
}


.delivery-day-info-container {
    @include flex(column);
    width: 100%;
}


.delivery-day-group {
    @include flex(column);
    width: 100%;
    align-items: center;
    label {
        display: inline-block;
        margin: 0;
        font-size: 1rem;
    }
    select {
    background-color: rgb(80, 80, 80);
    text-align: center;
    width: 50%;
}
}

.store__details-confirm-button__container {
    @include flex();
    @include rect(100%, 2em);
    margin-top: 1rem;
}

.store__details-confirm-button {
    @include rect(50%, 100%);
    cursor: pointer;
}

.inactive {
    display: none;
}