@import './reset.scss';
@import './typography.scss';

:root {
    --blacks: rgb(50, 50, 50);
    --whites: rgb(230, 230, 230);
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bolder;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  body > div {
    display: grid;
    grid-template-rows: 60px 1fr;
    width: 100%;
    height: 100%;
  }
  
  body > div > header {
    position: relative;
    max-height: 100%;
    width: 100%;
  }
  
  body > div > main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  