@import '../../../styles/partials/flex';
@import '../../../styles/partials/box';

$glass: linear-gradient(135deg, rgba(233, 239, 241, 0.5) 0%, rgba(235, 229, 233, 0.5) 40%, rgba(250, 249, 249, 0.5) 100%);



a {
    color: rgb(129, 129, 129);
}

.guest-nav-container{
    position: absolute;
    display: grid;
    grid-template-columns: 45% 10% 30% 1fr;
    grid-template-areas: ". title . links";
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--blacks);
    color: white;
}

.title{
    margin: 0;
    font-size: 2rem;
    grid-area: title;
}
.link-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    grid-area: links;
}

.link {
    font-size: 1.5rem;
}

.title:hover, .link:hover {
    color: rgb(255, 255, 255);
    transition: color ease-in 0.4s, text-shadow ease-in 0.4s;
    text-shadow: 0 0 5px #fff;
}

/*? USER NAV */

#top__section {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 4rem;
    z-index: 1001;
  }
  
.main__title {
    width: 100%;
    position: absolute;
    z-index: 1000;
    font-size: 2.5rem;
    background: $glass;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 2rem 0.5rem rgba(82, 82, 82, 0.1);
    color: rgb(117, 117, 117);
    text-shadow: 0 0 1px black;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    backdrop-filter: blur(10px);
    transition: background 0.8s ease, color 1s ease;
    cursor: pointer;
    &:hover {
      color: rgb(253, 253, 253);
      text-shadow: 0px 0px 8px #ffffff, -1px -1px 0 #c2c2c2, 1px -1px 0 #b9b9b9,
        -1px 1px 0 #ffffff, 1px 1px 3px #0920a5, 2px 0px 5px #ffffff,
        -1px -1px 3px #ffd3c6;
    }
  }
  
  
  .dropdown__menu {
    margin-top: 5rem;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50rem;
    transform: translateY(-60rem);
    transition: transform 0.5s ease;
    z-index: 100;
    @include gradient(135deg, (#ff0000, 0.2), (#ec97cba2, 0.4), (#e4f3fc, 0.5), (#93d8f3, 0.3));
    backdrop-filter: blur(1rem);
  }
  
  .dropdown__menu__active {
    transform: translateY(-5rem);
    transition: transform 0.7s ease;
  }
  .dropdown__menu-account-container {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
    width: 100%;
    height: 35%;
  }
  
  .dropdown__menu-content-container {
    padding-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    height: 65%;
  }
  
  .menu-backdrop {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }
  
  .menu__selector {
    @include flex(column);
    @include rect(10em);
    background-color: rgba(146, 146, 146, 0.9);
    border: 0.1rem solid rgba(146, 146, 146, 0.2);
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    color: rgb(209, 209, 209);
    box-shadow: inset 0 0 3rem 3rem rgba(179, 179, 179, 0.4);
    transition: color 1s ease, background-color 0.3s ease, border 0.3s ease,
      box-shadow 0.3s ease, width 0.2s ease, height 0.2s ease;
  }
  .menu__selector__account {
    width: 10rem;
    height: 5rem;
    border-radius: 2cap;
    font-size: 1rem;
  }

  .menu__selector p,
  .menu__selector a {
    margin: 0;
    text-decoration: none;
  }
  
  .menu__selector:hover {
    width: 22rem;
    height: 22rem;
    border: 0.2rem solid rgb(252, 252, 252);
    background-color: rgb(155, 155, 155);
  
    box-shadow: inset 0 0 60px 30px rgba(255, 255, 255, 0.863),
      inset 0 0 60px 60px rgba(255, 225, 252, 0.068),
      inset 5px 0 20px 15px rgba(0, 0, 0, 0.384);
  
    color: rgb(240, 239, 239);
  
    text-shadow: 2px 0 1px rgba(70, 70, 70, 0.185),
      -2px 0 1px rgba(92, 92, 92, 0.185), 2px 0 1px rgba(77, 77, 77, 0.185),
      -2px 0 1px rgba(0, 0, 0, 0.185), 1px 0 2px rgb(255, 255, 255),
      -1px 0 2px rgb(255, 255, 255), 0 -2px 5px var(--blue-glow__order-page),
      0 2px 5px var(--blue-glow__order-page),
      -2px 0 5px var(--blue-glow__order-page),
      2px 0 5px var(--blue-glow__order-page);
  
    transition: color 0.3s ease, background-color 0.1s ease, border 0.1s ease,
      box-shadow 0.15s ease, width 0.2s ease, height 0.2s ease;
    cursor: pointer;
  }
  
  .menu__selector__account:hover {
    width: 12rem;
    height: 7rem;
  }
  
  .selector-logout:hover {
    width: 12rem;
    height: 7rem;
  }

  .menu__pulldown {
    width: 100%;
    height: 2rem;
    background-color: rgba(168, 168, 168, 0.6);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    cursor: pointer;
    backdrop-filter: blur(30px);
    box-shadow: inset 0 0 5px 1px rgba(92, 92, 92, 0.4);
  }
  
  .menu__pulldown:hover {
    background-color: rgba(124, 124, 124, 0.6);
  }
  
  